.nav {
  display: flex;
  background-color: rgb(26, 26, 26);
  justify-content: space-between;
  width: 100%;
  height: 7rem;
}
.navLogo {
  display: flex;
  align-items: center;
  width: 150px;
  height: 100%;
}

.divButton {
  display: flex;
  justify-content: center;
  color:rgb(247, 229, 189) ;
  background-color: rgb(206, 42, 58);
  border-color: black;
  border-radius: 30%;
  width: 10rem;
  height: 2rem;
}
.SearchBar {
  display: flex;
  color:rgb(247, 229, 189);
  background-color: rgb(26,26,26);
  
}

.divButtonSearch {
  display: flex;
  margin-right: 5rem;
  gap: 3rem;
  justify-content: center;
  align-items: center;
}
